* {
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.recipelist {
    font-weight: bold;
    font-size: 18px;
}

body {
    background-color: lightgray;
}

.recipehead {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

.ingredients {
    background-color: lightcyan;
}

.description {
    font-size: 20px;
    color: darkblue;
}